
.idea/scopes/scope_settings.xml

.idea/esiea_bid.iml

.idea/modules.xml

.idea/vcs.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/workspace.xml

.idea/.name

.idea/compiler.xml

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/1/50534a7f8eab0013127b984137b04bb7

.metadata/.plugins/org.eclipse.core.resources/.history/10/3083c77790b000131a49d461601795f4
