
.idea/scopes/scope_settings.xml

.idea/esiea_bid.iml

.idea/modules.xml

.idea/vcs.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/workspace.xml

.idea/.name

.idea/compiler.xml
